<div id="cloud_input_composition">
  <table>
    <tr>
      <td id="cloud_input_predict" colspan="7"></td>
    </tr>
    <tr>
      <td
        colspan="7"
        style="
          box-shadow: rgba(66, 140, 240, 0.5) 0px -1px 1px;
          -webkit-box-shadow: rgba(66, 140, 240, 0.5) 0px -1px 1px;
        "
      ></td>
    </tr>
    <tr>
      <td class="cloud_input_cnd"></td>
      <td class="cloud_input_cnd"></td>
      <td class="cloud_input_cnd"></td>
      <td class="cloud_input_cnd"></td>
      <td class="cloud_input_cnd"></td>
      <td class="cloud_input_drct">&larr;</td>
      <td class="cloud_input_drct">&rarr;</td>
    </tr>
    <td id="cloud_input_error" colspan="7" style="color: red"></td>
  </table>
</div>
"
